<!-- Featured Posts -->
<section class="featured">
    <div class="container">
        <h2 class="section-title">🔥 مطالب ویژه</h2>
        <div class="featured-grid">
            {% for post in featured_posts %}
            <a href="{% url 'post-detail' slug=post.slug %}" class="featured-card">
                <img src="{{ post.image.url }}"
                     alt="{{ post.title }}">
                <div class="overlay">
                    <span class="cat">{{ post.category.name }}</span>
                    <h3>{{ post.title }}</h3>
                    <div class="meta">{{ post.user.full_name }} - {{ post.estimated_reading_time }} دقیقه </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</section>